.card_view_container{
    display: flex;
    width: 100%;
    flex-direction: row;
   height: 150px;
   justify-content: space-evenly;

}
.card_view{
    display: inline-block;
    width: 25%;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px #000;
    color: #000;
    font-size: 20px;
    cursor: pointer;
}
.cont{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    border: solid;
    border-color: black;
    color: #000;
}
.main{
    background-color: white;
    height: 100vh;
}
.table_design{
    border: solid;
    height: 350px;
    border-color: #000;
    margin-top: 20px;
    overflow: scroll;

}
.row{
    display: flex;
    /* background-color: red; */
}
.col{
    flex: 1;
    border: 1px solid;
    padding: 5px;
}




